<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <ul>
            {% for product in products  %}
                <a href="{% url 'atualizar' product.id %}">
                    <li> {{ product.descricao }} </li>
                 </a>
                 {% endfor %}
        </ul>

        <a href="{% url 'criar' %}">New product</a>
    </body>
</html>