<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <form method="post">
            {% csrf_token %}
            <h2>Remover {{ product.descricao }} </h2>
            <button type="submit">Confirmar</button>
        </form>
    </body>
</html>