<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Save</button>
        </form>

        {% if product %}
            <a href="{% url 'deletar' product.id %}">Delete</a>
    </body>
</html>